@using WebUI.Models.Reports;
@model DonatorReportDto
@using Newtonsoft.Json;

@{
    var i = (Model.PageNumber * Model.PageSize) - Model.PageSize + 1;
  

}
<div class="app-title" style=" padding-bottom: 1%; ">
    <h3>عدد السجلات (@Model.TotalCount)</h3>
</div>
<div class="col-12">
    <!--strat table -->
    <div class="app-table table-responsive">
        <table id="Questiontable" class="table fagtable table-bordered">
            <thead>
                <tr class="table-header">
                    <th scope="col">م</th>
                    <th scope="col">اسم المتبرع</th>
                    <th scope="col">  رقم الجوال </th>
                    <th scope="col">  البريد الالكترونى </th>
                    <th scope="col">  اجمالى قيمة التبرعات</th>
                    <th scope="col">  عدد التبرعات </th>
                    <th scope="col">الإجراء</th>

                </tr>
            </thead>
            <tbody>
                @if (Model.ProductsRequest.Any())
                {
                    foreach (var item in Model.ProductsRequest)
                    {
                        <tr>
                            <td>@(i++)</td>
                            <td>@item.DonatorName</td>
                            <td>@item.MobileNumber</td>
                            <td>@item.Email</td>
                            <td>@item.TotalAmount.ToString("c0",new System.Globalization.CultureInfo("en-US")).Replace("$", string.Empty) ر.س</td>
                            <td>@item.TotalCount</td>
                            <td>  
                               
                                    <a href="/DonationReport/DonationDetalies?PersonsId=@item.PersonId">
                                        <img src="~/cms_lib/img/icons/document.svg"/></a>
                              
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="10" class="no-items-cont">
                            <span>لا يوجد نتائج بحث</span>
                        </td>
                    </tr>
                }



            </tbody>
        </table>

    </div>

</div>

<div class="app-pagination">
    <vc:pager total-items-count="@Model.TotalCount" current-page="@Model.PageNumber ?? 1">

    </vc:pager>

</div>