@page
@model WebUI.Pages.Admin.CreatePasswordModel
@{
    Layout = null;
}
<html dir="rtl">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Waqfy</title>
<link rel="icon" type="image/png" href="~/cms_lib/img/layout/waqfiLogo.png">
<!--styles-->
<link href="~/cms_lib/css/bootstrap.min.css" rel="stylesheet">
<link href="~/cms_lib/css/login.css" rel="stylesheet">

<body>
<div class="logo-header mx-auto text-center">
    <img class="logo" src="~/Cms_Lib/img/layout/waqfiLogo.png" alt="">
</div>
<div class="forget-wrapper">
    <div class="form-signin">
        <div class="login-icon">
            <img src="~/Cms_Lib/img/icons/forget.svg" alt="">
        </div>
        <div class="login-title">
            <h1>إنشاء كلمة مرور جديدة</h1>
            <p>
                يرجي إدخال كلمة مرور جديدة والتأكيد عليها والحفاظ علي أنها تكون قوية ومألوفه
            </p>
        </div>


        @foreach (var item in Model.ErrorList)
        {
            <span style="color:red"> . @item</span>

            <br />
        }
        <form class="form-wrapper" method="post" id="form-id">
            <div id="login">
                <div class="form-group mb-3">
                    <input asp-for="@Model.PasswordModel.Password" type="password" id="inputPassword" class="form-control" placeholder="كلمة المرور" required>
                    <img src="~/Cms_Lib/img/icons/password-show.svg" class="toggle-password" />

                </div>
                <span class="text-danger" asp-validation-for="@Model.PasswordModel.Password" class="text-error">
                </span>
                <div class="form-group mb-3">
                    <input asp-for="@Model.PasswordModel.VerifyPassword" type="password" id="confirmPassword" class="form-control" placeholder="تأكيد كلمة المرور" required>

                </div>
                <span class="text-danger" asp-validation-for="@Model.PasswordModel.VerifyPassword" class="text-error">
                </span>

                <input asp-for="@Model.PasswordModel.OTP" hidden />
                <!-- <div class="invalid-feedback d-block">
                    البريد الالكتروني غير صحيح
                </div> -->
                <!-- <img src="img/layout/captcha.png" class="captcha" alt="" /> -->
                <button class="btn btn-success w-100 mt-3" type="submit">
                    <img src="~/Cms_Lib/img/icons/Send.svg" alt="" />
                    تأكيد كلمة المرور
                </button>
            </div>
        </form>
    </div>
</div>
<div class="copyright text-center">
    <p>
            جميع الحقوق محفوظة لدي وقفي © @DateTime.Now.Year
    </p>
</div>

<!--start add modal-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Pop-UP-Modal" id="exampleModalId" hidden></button>

<div class="modal fade body-modal" id="Pop-UP-Modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered">
        <div class="modal-content text-center">
            <div class="modal-body text-center">
                <span class="ps-1"><img src="~/cms_lib/img/icons/add-user-popup.svg" alt="details-icon" class="icons" /></span>
                <h3>تم انشاء كلمة مرور بنجاح</h3>

            </div>

        </div>
    </div>
</div>
<!--end add modal-->

<script src="~/cms_lib/js/jquery-3.5.1.js"></script>
<script src="~/cms_lib/js/popper.min.js"></script>
<script src="~/cms_lib/js/bootstrap.min.js"></script>

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>



<!--Javascript-->
<script>

    $(".toggle-password").click(function () {
        var input = $('#inputPassword');
        if (input.attr("type") == "password") {
            $(this).attr('src', '/Cms_Lib/img/icons/password-hide.svg')
            input.attr("type", "text");
        } else {
            $(this).attr('src', '/Cms_Lib/img/icons/password-show.svg')
            input.attr("type", "password");
        }
    });

    if ('@Model.Result' == 'True')
    {
        debugger
        $("#exampleModalId").click();
        setTimeout(function () {

            window.location.href = "/Admin/Login";

        }, 2000);
    }

</script>
</body>
</html>

