@using WebUI.IntegrationServices;
@using WebUI.Models.ProductBanner;
@model ProductListBanner
@{

    var i = (Model.PageNumber * Model.PageSize) - Model.PageSize + 1;
}
<div class="col-12">
    <!--strat table -->
    <div class="col-12">
        <!--strat table -->
        <div class="app-table table-responsive">

            <table id="Questiontable" class="table fagtable table-bordered">
                <thead>
                    <tr class="table-header">
                        <th scope="col">م</th>
                        <th scope="col">اسم المنتج</th>
                        <th scope="col">نوع المنتج</th>
                        <th scope="col"> المسار</th>
                        <th scope="col"> تاريخ إرسال الطلب</th>
                        <th scope="col"> تاريخ الظهور </th>
                        <th scope="col"> تاريخ الاخفاء</th>
                        <th scope="col"> الحالة</th>

                        <th scope="col"> </th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.ProductsRequest.Any())
                    {
                        @foreach (var item in Model.ProductsRequest)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@item.ProductName  (@item.ProductNo)</td>
                                <td>@item.ProductsType</td>
                                <td>@item.Massar</td>
                                <td>@item.RequestSentDate</td>
                                <td>@(item.PublishDate ?? "-")</td>
                                <td>@(item.DisappearanceDate ?? "-")</td>
                                <td>@item.BannerProductStatus</td>
                                <td>
                                    <div class="controls">

                                        <ul>

                                            <li>

                                                <a href="/ProductBanner/ProductDetalies?productId=@item.Id"><img src="~/cms_lib/img/icons/document.svg" /></a>

                                            </li>




                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="10" class="no-items-cont">
                                <span>لا يوجد نتائج للبحث</span>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>


        </div>
    </div>
</div>


<div class="app-pagination">
    <vc:pager total-items-count="@Model.TotalCount" current-page="@Model.PageNumber ?? 1">

    </vc:pager>

</div>
