@using WebUI.IntegrationServices;
@using WebUI.Models.Banner;
@model BannersDto
@{

    var i = (Model.PageNumber * Model.PageSize) - Model.PageSize + 1;
}

<div class="col-12">
    <!--strat table -->
    <div class="col-12">
        <!--strat table -->
        <div class="app-table table-responsive">

            <table id="Questiontable" class="table fagtable table-bordered">
                <thead>
                    <tr class="table-header">
                        <th scope="col">م</th>
                        <th scope="col">اسم البانر</th>
                        <th scope="col">نوع البانر</th>
                        <th scope="col"> الحاله</th>
                        <th scope="col"> تاريخ الظهور</th>
                        <th scope="col"> تاريخ الاخفاء</th>
                        <th scope="col"> الأولوية</th>
                        <th scope="col">الإجراء</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.BanneritemsDto.Any())
                    {
                        @foreach (var item in Model.BanneritemsDto)
                        {
                            <tr>
                                <td>@(i++)</td>
                                <td>@item.PannerName</td>
                                <td>@item.BannerType</td>
                                <td>@item.Status</td>
                                <td>@item.StartAt</td>
                                <td>@(item?.EndAt ?? "---")</td>
                                <td>@item.Priority</td>
                                <td>
                                    <div class="controls">

                                        <ul>

                                            <li>
                                                <a href="/Banner/BannerDetails?BannerId=@item.Id"><img src="~/cms_lib/img/icons/document.svg" /></a> 
                                            </li>
                                             <li>
                                                <a href="/Banner/EditBanner?BannerId=@item.Id"><img src="~/cms_lib/img/icons/Edit.svg" /></a> 
                                            </li>
                                             <li>
                                                 @if (Model.TotalCount==1)
                                                {
                                                    <button  disabled><img src="~/cms_lib/img/icons/Delete.svg" /></button>
                                                }else
                                                {
                                                <a href="#" onclick="DeleteModal('@item.Id')" ><img src="~/cms_lib/img/icons/Delete.svg" /></a>
                                                        
                                                }      
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>

                        }

                    }
                    else
                    {
                        <tr>
                            <td colspan="10" class="no-items-cont">
                                <span>لا يوجد نتائج للبحث</span>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>


        </div>
    </div>
</div>


<div class="app-pagination">
    <vc:pager total-items-count="@Model.TotalCount" current-page="@Model.PageNumber ?? 1">

    </vc:pager>

</div>
